<?xml version="1.0" encoding="UTF-8"?>
<included debug="false">

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logCategory</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${logCategory}" class="ch.qos.logback.core.FileAppender">
                <file>logs/category-${logCategory}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d [%X{logCategory}] %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="com.github.sebphil.HelloController" level="INFO" additivity="false">
        <appender-ref ref="SIFT"/>
    </logger>

</included>
